.container {
  display: flex;
  margin: 100px 200px;
  list-style: none;
  justify-content: space-between;
}

.left-box {
  margin: 0;
  padding: 0;
  flex: 1;
}
.top-micro {
  list-style: none;
  display: inline;
  float: left;
}

.centre-box {
  flex: 1;
}

#title {
  font-size: 19px;
}

.right-box {
  flex: 0.5;
}

.externalLink {
  text-decoration: none;
  color: #007185;
}

.checked {
  color: orange;
}

.unchecked {
  color: gray;
}

.overallRating {
  margin: 0 20px;
  text-decoration: none;
  color: #007185;
}

.badge_div {
  margin-top: 10px;
}

.badge-ac-declarative {
  background-color: black;
}

.ac-white {
  color: white;
}

.ac-yellow {
  color: orange;
}

.a-text-right {
  text-align: right;
}

.a-text-left {
  text-align: left;
}

.oldInfo {
  color: gray;
}

.newInfo {
  color: #b12704;
}

.borderBlack {
  border: 2px solid rgba(0, 0, 0, 0.185);
}

.boldInfo {
  font-weight: bold;
}

.farm-content {
  display: flex;
}

.icon-box {
  margin: 10px;
}

.a-color-success {
  color: #007600 !important;
}

.a-size-medium {
  font-size: 18px !important;
  line-height: 24px !important;
}

.a-span3{
  width: 26.18%
}

.a-align-center{
text-align: center;
}

.a-box{
  border: 1px solid gray;
}

.a-inner-box{
  padding: 20px;
}

.a-button-normal{
  border-radius: 25px;
  height: 25px;
  margin: 5px;
}

.a-backgroundColor-yellow{
  background: #f3d943;
}

.a-backgroundColor-orange{
  background: orange;
}
.a-margin-10{
  margin: 10px;
}